:root {
    --black: #0D090A;
    --red: #e72a59;
    --yellow: #F2BB05;
    --blue: #33ABD7;
    --cream: #F7F7FF;
    --grey: #39393A;
}

* {
    font-size: 10px;
}

html,
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Comfortaa', sans-serif;
    background-color: var(--cream);
}


/* formatting for mobile view -- FIRST PRIORITY */

.nav-toggle {
    display: none;
}

header {
    background-color: var(--cream);
}

.site-banner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 9px 0;
    text-align: center;
    background-color: var(--red);
    /* align-self: center; */
}

.site-banner a {
    color: var(--cream);
    text-decoration: none;
    font-family: 'Bayon', sans-serif;
    font-size: 3rem;
    display: block;
}

.site-banner span+span {
    font-size: 2rem;
    font-family: 'Bayon', sans-serif;
}

.navigation-main {
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    background-color: var(--cream);
}


/* hide menu until needed */

.nav-menu {
    display: none;
}


/* nav trigger */

#nav-trigger {
    display: block;
}


/* menu button */

label {
    color: var(--black);
    font-size: 1.5rem;
    display: block;
    text-align: center;
}


/* hide the checkbox */

input[type=checkbox] {
    visibility: hidden;
}


/* hover style for menu button */

label:hover {
    text-decoration: underline;
    text-decoration-color: var(--blue);
}


/* show menu when ghost checkbox is checked */

.navigation-main #nav-trigger:checked~ul {
    padding: 5px 0 0 0;
    display: block;
    position: relative;
    text-align: center;
    list-style: none;
}


/* make menu button blue when open */

#nav-trigger:checked+label {
    color: var(--blue);
    font-weight: 700;
    font-weight: bold;
}

#nav-trigger:checked+.nav-menu li a {
    color: var(--red);
}


/* link styles */

.navigation-main ul li a,
.navigation-main ul li a:visited,
.navigation-main ul li {
    font-size: 1.5rem;
    color: inherit;
    background-color: var(--cream);
    text-decoration: none;
    padding: 1.5vh 0px;
}


/* grey out current page */

.navigation-main ul li strong {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--grey);
    opacity: .7;
}

.navigation-main ul li a:hover {
    color: var(--black);
    text-decoration: underline;
    text-decoration-color: var(--blue);
}


/* styles for other 2 pages */

.page-title {
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
    padding: 40px 0 10px;
    text-align: center;
    background-color: var(--cream);
}


/* align text to center unless otherwise stated */

.container {
    padding: 10px 20px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 15px;
}


/* heart */

.container p+span {
    display: none;
}

.container span {
    font-size: 2rem;
}

.fa-stack-1x {
    font-size: 2rem;
    color: var(--cream);
}

.container .fa-circle {
    color: var(--black);
}

.container p {
    text-align: justify;
    display: block;
    max-width: 90vw;
    line-height: 35px;
    font-size: 1.5rem;
}


/* home page */

.media-container {
    display: flex;
    justify-content: flex-start;
    /* shorthand for flex direction and wrap */
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: space-between;
    width: 100vw;
    padding: 10px 0px;
}


/* the gallery */

.media {
    /* 2 columns per row cannot be achieved without border-box because the border throws everything off.
        specified width doesn't account for width AND any borders or padding
       the border is only being used to see the layout so it's not necessary to keep it*/
    /* border: solid red 1px;
    */
    /* ------------------------------------------------------- */
    /* make two columns -- flex recommended for resizing children items */
    flex: 0 50%;
    box-sizing: border-box;
    padding: 5px 4px;
}

img {
    width: 100%;
    vertical-align: middle;
    /* let user know that image is clickable */
    cursor: pointer;
    /* transition animation for box shadow */
    transition: 0.4s;
    height: 25vh;
    object-fit: cover;
}


/* add effect when hovering over images */

img:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

#lightbox {
    /* lightbox will remain on screen no matter where you are on the page */
    position: fixed;
    /* make sure it's always sitting above anything else */
    z-index: 1000;
    /*  no margin for you. for some reason margin makes a huge 
        difference on whether or not the lightbox is viewable.
        it either doesn't cover the header or doesn't show at all */
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}


/* when the lightbox is active */

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


/* change styling for enlarged images */

#lightbox img {
    max-width: 90%;
    height: auto;
    box-shadow: none;
    cursor: default;
}

.buttons {
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: space-between;
}


/* previous and next */

.controls {
    background: black;
    opacity: .2;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 15px 20px;
}

.controls:hover {
    background: lightgray;
    color: black;
}


/* make back to top float */

#to-top {
    font-family: 'Comfortaa', sans-serif;
    position: fixed;
    text-decoration: none;
    text-align: center;
    color: var(--cream);
    bottom: 8vh;
    left: 65vw;
    max-width: 70%;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, .8);
    padding: 5px;
    border: none
}

footer {
    width: 100%;
    position: absolute;
    display: block;
    text-align: left;
    background-color: var(--black);
}

#contacts-footer {
    vertical-align: bottom;
    bottom: 0;
}

footer .contacts {
    display: block;
    list-style: none;
    text-align: center;
    padding: .2rem;
}

footer .contacts li {
    display: inline-block;
    padding: 2px 15px;
}

footer .contacts a {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--cream);
}

footer i {
    font-size: 2.2rem;
}


/* change elements when window is at least 850 wide */

@media (min-width: 800px) and (-webkit-min-device-pixel-ratio: 1) {
    body {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    .site-banner {
        line-height: 50px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .site-banner a {
        font-size: 5.5rem;
        width: 100%;
    }
    .site-banner span+span {
        text-align: center;
        font-size: 2rem;
        width: 100%;
    }
    /* no more menu button for you */
    .navigation-main ul {
        margin: 0;
    }
    .navigation-main ul li a,
    .navigation-main ul li a:visited,
    .navigation-main ul li {
        font-size: 1.5rem;
        background-color: var(--cream);
        text-decoration: none;
        padding: 2vh 0px;
    }
    /* grey out current page */
    .navigation-main ul li strong {
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--grey);
        opacity: .7;
    }
    .nav-menu {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        padding: 0;
    }
    .nav-menu li {
        display: inline-block;
        line-height: 0px;
    }
    .navigation-main ul li a {
        color: var(--blue);
        padding: 0;
    }
    label {
        display: none;
    }
    .page-title {
        font-size: 2.2rem;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 35px;
        font-size: 1.8rem;
        /* border-top: 2px groove var(--grey); */
        border: solid 1px rgba(204, 204, 204, 0);
        border-bottom: none;
        position: relative;
    }
    /* will have to play with more gradients another time */
    .container::after {
        content: "";
        /* background: -webkit-linear-gradient(left, rgba(92, 7, 52, 1) 0%, rgba(134, 29, 84, 1) 12%, rgba(255, 93, 177, 1) 47%, rgba(83, 0, 30, 1) 100%); */
        /* background: -webkit-linear-gradient(left, lightgray 0%, var(--red) 12%, var(--red) 47%, lightgray 100%); */
        display: block;
        height: 2px;
        width: 100%;
        position: absolute;
        top: 0;
    }
    .container .socials {
        width: 100%;
        justify-content: center;
        align-items: center;
        /* padding: 20px 0px 15px; */
    }
    /* it took me too long to figure out how to style fa icons */
    .container .socials span {
        text-align: center;
        display: block;
        font-size: 3rem;
    }
    .fa-stack-1x {
        color: var(--cream);
        font-size: 3rem;
    }
    .container p {
        font-size: 1.5rem;
        width: 75%;
        line-height: 35px;
    }
    /* show heart */
    .container p+span {
        display: block;
    }
    .wrapper img {
        width: 80%;
        padding-top: 5vh;
        margin: 0 20vw;
    }
    .media {
        flex: 0 25%;
    }
    #lightbox img {
        width: auto;
        max-height: 75%;
    }
    #to-top {
        font-size: 1.8rem;
        left: 85vw;
    }
    footer .contacts {
        text-align: center;
    }
    #contacts-footer {
        margin: auto;
    }
}


/* change elements when window is at least 1000px */

@media (min-width: 1500px) {
    .nav-menu {
        align-items: center;
        justify-content: center;
    }
    .nav-menu li {
        margin: 0 150px;
    }
    .media-container {
        width: 100%;
    }
    .container .socials+p {
        text-align: center;
    }
    .container p {
        width: 55%;
    }
    #lightbox img {
        max-width: 35%;
        height: auto;
    }
    /* so buttons aren't completely pushed to the edge of screen */
    .buttons {
        width: 65vw;
        position: absolute;
        display: flex;
        justify-content: space-between;
    }
    /* controls can be bigger */
    .controls {
        font-size: 30px;
        text-align: center;
        border-radius: 50%;
        padding: 20px 25px;
    }
    footer .contacts {
        text-align: right;
    }
}